@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

// colors
$primary-color: #03d069;
$secondary-color: #000;

// background colors
$bg-logo: #e1e1e1;
$logo-color: $primary-color;
$bg-stockList: $primary-color;

// fonts
$logo-font: "Anton", sans-serif;
