@import "../../Variables/stylingVars.scss";

.stock-list-container {
  background-color: $bg-stockList;
}
@media (max-width: 992px) {
  .logo-container {
    height: 20%;
  }
  .stock-list-container {
    height: 80%;
  }
  .search-container {
    width: 80% !important;
  }
}
